<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Backbone Tunes</title>
    <meta name="author" content="Thiago Pontes <thiagopnts@gmail.com>">

    <link rel="stylesheet" href="style/screen.css" media="screen, projection">
    <link rel="stylesheet" href="style/fancypants.css" media="screen, projection">

    <script src="/tunes/js/vendor/modernizr-1.6.min.js"></script>
    <script src="/tunes/js/vendor/jquery-1.7.1.js"></script>
    <script src="/tunes/js/vendor/underscore.js"></script>

    <script type="text/template" id="library-template">
      <h1>Music Library</h1>
      <ul class="albums"></ul>
    </script>

    <script type="text/template" id="album-template">
      <button class="queue add"><img src="/tunes/images/add.png" /></button>
      <button class="queue remove"><img src="/tunes/images/remove.png" /></button>
      <span class="album-title"><%= title %></span>
      <span class="artist-name"><%= artist %></span>
      <ol class="tracks">
        <% _.each(tracks, function(track) { %>
          <li><a><%= track.title %></a></li>
        <% }); %>
      </ol>
    </script>

    <script type="text/template" id="playlist-template">
      <h1>Playlist</h1>
      <nav>
        <button class="control play">Play</button>
        <button class="control pause">Pause</button>
        <button class="control prev">Prev</button>
        <button class="control next">Next</button>
      </nav>
      <ul class="albums">
      </ul>
    </script>

  </head>

  <body>
    <div id="container">
    </div>
    <script src="/tunes/js/vendor/backbone.js"></script>

    <script src="/tunes/js/models/player.js"></script>
    <script src="/tunes/js/models/album.js"></script>
    <script src="/tunes/js/collections/albums.js"></script>
    <script src="/tunes/js/collections/playlist.js"></script>

    <script src="/tunes/js/views/album_view.js"></script>
    <script src="/tunes/js/views/library_album_view.js"></script>
    <script src="/tunes/js/views/playlist_album_view.js"></script>
    <script src="/tunes/js/views/playlist_view.js"></script>
    <script src="/tunes/js/views/library_view.js"></script>
    <script src="/tunes/js/router.js"></script>
    <script src="/tunes/js/application.js"></script>
    <script type="application/javascript">
      $(document).ready(function() {
        jQuery(function() {
          window.library.fetch();
          window.App.navigate('/', false); 
          history.replaceState('/', 'tunes', '/tunes'); //hacks, hacks everywhere
        });
      });
    </script>    
  </body>
</html>
